/* Crvena: #f38181
	Tamno plava (header i footer): #374249
	Boja fonta: #797979
	Naslovi: #374249
	Svetlo siva 1 (hover na dugmice): #cfd1d3
	Svetlo siva 2 (pozadina sekcija): #f3f7f9
 */

 $crvena: #f38181;
 $tamno-plava: #374249;  //footer,header, naslovi
 $siva: #797979; //boja fonta
 $svetlo-siva1:#cfd1d3; //hover na dubmence
 $svetlo-siva2: #f3f7f9; //pozadina sekcija

$main-font: 'Roboto', sans-serif;
$main_text_color: $siva;


